* {
  color: $text-color-white;
}
body {
  background-image: url("../assets/backgroundLp.png");
  background-size: 100vmax 100vh;
  background-repeat: no-repeat;
  width: 450px;
  height: auto;
}

.card-body {
  background-color: $bg-color-dark;
}

@media (max-width: 540px) {
  body {
    background-size: auto;
  }
}
@media (max-width: 460px) {
  body {
    width: auto;
    background-size: auto;
  }
}